*
{
    margin:0;
    padding: 0;
}
body
{
   background-color:#e5e9ec;
   font-family: 'Ubuntu', sans-serif;
   box-align:center ;
}
#main
{
    display: flex;
    margin: 3% 0; 
    justify-content: center;
}
.quiz
{
    
    text-align: center;
    background-color: #fde74c;
    width: 40vw;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
}
.ques
{
    font-size: 1.8rem;
   margin: 2%;
    color: rgb(12, 12, 105);
}
.opt
{
    font-family: 'Ubuntu', sans-serif;
    margin: 4% 0 0 1%;
    background-color:#e5e9ec;
    width: 80%;
    height: 70px;
    font-size: 1.4rem;
    text-align: left;
    padding: 3%;
    border: 2px solid rgb(12, 12, 105);
    border-radius: 19px;
    font-weight: bold;
    display: inline-block;
    color: rgb(12, 12, 105);
}
.opt:hover
{
    width: 85%;
}
.line
{
    margin: 5% auto 4% auto;
    width: 90%;
    height: 2px;
    background-color: rgb(12, 12, 105);
    
}
.bottom
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 4%;
}
.ques_no
{ 
    font-size: 1rem;
    color: rgb(12, 12, 105);
    text-align: left;
    margin-top: 3%;
    margin-left: 6%;
}
.actions
{
    margin-right: 6%;
    display: flex;
    justify-content: end;
}
.act
{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 2%;
    width: 120px;
    height: 50px;
     border: 4px solid black;
    border-radius: 9px;
     font-size: 1.8rem;
     padding: 1%;
     justify-content: right;
     color: #e5e9ec;
    border: 4px solid rgb(50, 125, 238);
    background-color:  rgb(50, 125, 238);
}
.sub
{
    color: #e5e9ec;
    border: 4px solid green;
    background-color: green;
}
.next
{
    display: none;
}
.act:hover{
    background-color:  rgb(0, 101, 253);;
}
.correct
{
background-color: rgb(129, 207, 122);
}
.wrong
{
background-color: rgb(221, 134, 134);
}
.disable
{
    pointer-events: none;
}
.finish
{
    position: fixed;
    top: 0%;
    text-align: center;
    width: 100vw;
    height: 100vh;
    box-shadow: 4px 4px 8px black;
    font-size: 2.5rem;
    backdrop-filter: blur(10px);
    display: none;
}
.finish > h1
{
    font-size: 3rem;
}
.scores
{
    margin-top: 5%;
    font-size: large;
    line-height: 100px;
}
.right_ans
{
    font-size: 2rem;
color: green;
}
.wrong_ans
{
    font-size: 2rem;
    color: red;
}
.percent
{
    font-size: 2rem;
    color: rgb(21, 15, 87);
}
.pa
{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 2%;
    width: 220px;
    height: 50px;
     border: 4px solid black;
    border-radius: 9px;
     font-size: 1.5rem;
     justify-content: right;
     color: #e5e9ec;
    border: 4px solid rgb(50, 125, 238);
    background-color:  rgb(50, 125, 238);
}
@media (max-width:1183px) and (min-width:819px)
{
    *{
        font-size: 80%;
    }
        .quiz
        {
            width: 60vw;
        }

}
@media (max-width:818px)
{
    *{
        font-size: 70%;
     }
    .quiz
    {
        width: 80vw;
    }
}